body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.father{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.son{
    background: #4c35aa;
    border-radius: 15px;
    height: 200px;
    width: 200px;
}
.son::after{
    background: white;
    content: "after";
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50px;
}
.son::before{
    background: red;
    content: "before";
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50px;
}
